<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attractions</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>List of Attractions</h1>
        <ul>
            <% attractions.forEach(function(attraction) { %>
                <li>
                    <div class="info">
                        <h2><%= attraction.name %></h2>
                        <div class="image">
                            <img src="<%= attraction.coverimage %>" alt="<%= attraction.name %> Image" width="300">
                        </div>
                        <p>Latitude: <%= attraction.latitude %>, Longitude: <%= attraction.longitude %></p>
                        <!-- เพิ่มปุ่ม Learn More -->
                        <a href="/attraction/<%= attraction.id %>" class="btn-learn-more">Learn More</a>
                    </div>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
